body {
    display: grid;
    grid-template-columns: 5% 10% auto 20% 5%;
    grid-template-rows: 10% 5% auto 5% 5% 5% 20%;
}

.piece {
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: 300px 300px;
    border: 1px solid #fff;
    cursor: grab;
}

#puzzle {
    width: 300px;
    height: 300px;
    position: relative;
    background-image: url("lucienathan.jpg");
    background-size: 300px 300px;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
    grid-column: 2/4;
    grid-row: 3;
}

#afficheIm {
    grid-column: 3;
    grid-row: 2/4;
    align-items: center;
}

#collect {
    background-color: gray;
    grid-column: 4;
    grid-row: 2/6;
}

#titrePh {
    margin-left: 35%;
}

#photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.photo {
    width: 100px;
    height: 100px;
    background-size: contain;
    border: 1px dotted black
}

button {
    grid-column: 2;
    grid-row: 4;
    font-family: 'Montserrat';
}

#titre {
    grid-column: 3;
    grid-row: 1;
    font-family: 'Fredoka', 'Trebuchet MS'
}

#mot {
    grid-column: 2/4;
    grid-row: 7;
    font-size: 1.3em;
    font-family: 'Open Sans';
}

#motSecret {
    letter-spacing: 0.4rem;
}