.piece {
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: 300px 300px;
    border: 1px solid #fff;
    cursor: grab;
}

#puzzle {
    width: 300px;
    height: 300px;
    position: relative;
    background-image: url("lucieCGenial2.jpg");
    background-size: 300px 300px;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
}

#photos {
    background-color: blueviolet;
}

.photo {
    width: 100px;
    height: 100px;
    background-size: contain;
    border: 3px solid salmon
}