body {
    display: grid;
    grid-template-columns: 5% 10% auto 20% 5%;
    grid-template-rows: 10% 5% auto 5% 5% 20%;
}

.piece {
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: 300px 300px;
    border: 1px solid #fff;
    cursor: grab;
}

#puzzle {
    width: 300px;
    height: 300px;
    position: relative;
    background-image: url("lucieCGenial2.jpg");
    background-size: 300px 300px;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
    grid-column: 2/3;
    grid-row: 3;
}

#photos {
    background-color: gray;
    grid-column: 4;
    grid-row: 2/5;
}

.photo {
    width: 100px;
    height: 100px;
    background-size: contain;
    border: 1px solid snow
}

button {
    color: aliceblue;
    grid-column: 2;
    grid-row: 4;
}

#titre {
    color: aquamarine;
    grid-column: 3;
    grid-row: 1;
}

#mot {
    color: rgb(28, 129, 129);
    grid-column: 2/3;
    grid-row: 6;
}